<settings>
    <servers>
        <server>
            <id>snapshot</id>
            <username>${env.uniflyNexusUsername}</username>
            <password>${env.uniflyNexusPassword}</password>
        </server>

        <server>
            <id>release</id>
            <username>${env.uniflyNexusUsername}</username>
            <password>${env.uniflyNexusPassword}</password>
        </server>
    </servers>
</settings>
