<settings>
    <servers>
        <server>
            <id>snapshot</id>
            <username>${env.uniflyJfrogUsername}</username>
            <password>${env.uniflyJfrogPassword}</password>
        </server>

        <server>
            <id>release</id>
            <username>${env.uniflyJfrogUsername}</username>
            <password>${env.uniflyJfrogPassword}</password>
        </server>
    </servers>
</settings>
